#footer-footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: start;
    padding-left: 10rem;
    bottom: 0;
    position: absolute;
    padding-bottom: 5rem;
    /* gap: 20px;
    padding: 20px; */
    /* background-color: #f8f9fa; */
}

/* .footer-column {
    display: flex;
    flex-direction: column;
} */

#footer-logo {
    grid-column: 1/2;
}

#footer-about {
    grid-column: 2/3;
}

#footer-logo img {
    max-width: 30rem;
    align-self: middle;
}